.make-request {
  max-width: 700px;
  margin: 20px auto;
  position: relative;
  
}

.make-request .title {
  margin-top: 15%; 
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 4.1em;
  line-height: 48px;
  padding-bottom: 2px;
     color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
    background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
    -webkit-background-clip: text !important;
    background-clip:text !important;
    -webkit-text-fill-color: transparent !important;
}

.request-form .form-field {
  
  margin: 32px 0;
  
}


.request-form{
    padding-left: 100px;
}

.request-form .input-text {
  border-color: #5543ca;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  
}


.request-form .input-text:focus {
  outline: none;
}

.request-form .label {
  position: relative;
  left: 2px;
  bottom: 5px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #5543ca;
  cursor: text;
  /* transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out; */
}
.request-form .submit-btn {
  display:-webkit-inline-box ;
  justify-content: flex-end;
  background-color: #000;
  background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 2px 16px;
  border: none;
  width:100px;
  cursor: pointer;
}

.request-form #description{
  width: 100%;
}