<div class="request-details">
    <h1 class="col d-flex justify-content-center" style="background-color:aquamarine">Reason for Rejection</h1>
    <h2>REQ{{requestDetails.id}}</h2>
    <section>
        <form [formGroup]="requestDetailsForm" (ngSubmit)="onSubmit(requestDetails.id)">
            
            <div class="row"  >
                <div class="col-md-6" >
                    <mat-form-field>
                        <input matInput formControlName="purpose" placeholder="Purpose" [readonly]="true">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="advanceAmount" placeholder="Advance Amount" [readonly]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput formControlName="estimatedCost" placeholder="Estimated Cost" [readonly]="true">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="date" formControlName="planDate" placeholder="Plan Date" [readonly]="true">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" placeholder="Description" style="width:100%;" [readonly]="true"></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="roleId != 4">
                    <mat-form-field appearance="outline" >
                        <mat-label>Reason For Rejection</mat-label>
                        <textarea matInput formControlName="rejectedReason"
                        placeholder="Reason For Rejection" style="width:100%;" ></textarea>
                    </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="roleId == 4">
                    <mat-form-field appearance="outline" >
                        <mat-label>Reason For Rejection</mat-label>
                        <textarea matInput formControlName="rejectedReason" 
                          [readonly]="true"
                        placeholder="Reason For Rejection" style="width:100%;" ></textarea>
                    </mat-form-field>
                </div>
            </div>
            
            <div >
                <mat-dialog-actions class="col d-flex justify-content-center">
                    <button mat-raised-button class="btn btn-success" *ngIf="roleId != 4" type="submit">Submit</button>
                    <button mat-raised-button class="btn btn-danger" [mat-dialog-close]="true">Close</button>
                </mat-dialog-actions>
            </div>
        </form>
        
    </section>
</div>
