<app-navigation-bar></app-navigation-bar>

<div class="myRequests" >
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item value="1" (click)="getRequestsByStatus(1)">Initiated</button>
    <button mat-menu-item (click)="getRequestsByStatus(2)">Approved</button>
    <button mat-menu-item (click)="getRequestsByStatus(3)">Rejected</button>
    <button mat-menu-item (click)="getRequestsByStatus(4)">Forwarded</button>
    <button mat-menu-item (click)="getRequestsByStatus(5)">Completed</button>
  </mat-menu>
    <form class="myForm">
        
        <mat-form-field >
            <input matInput  type="text" [(ngModel)]="term" name="term" placeholder="Enter search key...">
        </mat-form-field><mat-icon>search</mat-icon> 
    </form>
  <div *ngIf="isDataLoaded==false">
      <mat-spinner></mat-spinner>
  </div>
    <div class="row" >
        
        <div class="col-md-3" *ngFor="let data of requests | filter:term | paginate: { itemsPerPage: 4, currentPage: p }">
            <div class="card">
                
                <mat-card>
                    <mat-card-title style="height: 60px;">
                        <h2>
                            REQ{{data.id}}<br>
                             {{data.purpose}}
                        </h2>
                    </mat-card-title>
                    <mat-card-subtitle style="height: 50px;">
                        <strong>{{data.description}}</strong>
                    </mat-card-subtitle>
                    <mat-card-content >
                        <strong>Details</strong><br>
                        
                        Approver
                        : {{data.approver}}<br>
                        Estimated Cost
                        : {{data.estimatedCost | currency : 'INR'}}<br>
                        Advance Amount
                        : {{data.advanceAmount | currency : 'INR'}}<br>
                        Plan Date
                        : {{data.planDate | date:'dd-MM-yyyy'}}<br>
                        <div ngSwitch="{{data.status}}">
                            <div *ngSwitchCase ="1">Status : <b>Initiated</b></div>
                            <div *ngSwitchCase="2">Status : <b>Approved</b></div>
                            <div *ngSwitchCase="3">Status : <b>Rejected</b></div>
                            <div *ngSwitchCase="4">Status : <b>Forwarded</b></div>
                            <div *ngSwitchCase="5">Status :<b>Completed</b></div>
                            
                        </div>
                        
                    </mat-card-content>
                    <mat-card-footer>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" *ngIf="data.status==1" (click)="editRequest(data.id)"><mat-icon>edit</mat-icon>Edit</button>&nbsp;&nbsp;
                            <button mat-raised-button color="warn" *ngIf="data.status==1"
                            class="btn btn-default"
                            mwlConfirmationPopover
                            (confirm)="withDraw(data.id)"
                            (cancel)="cancelClicked=true"><mat-icon>delete</mat-icon>WithDraw</button>
                            <button mat-raised-button color="primary" *ngIf="data.status==2" >Upload Bill</button>
                            <button mat-raised-button color="primary" *ngIf="data.status==4" > Forwarded </button>
                            <button mat-raised-button color="warn" *ngIf="data.status==3" (click)="viewRejectedReason(data.id)"> Reason </button>
                            <button mat-raised-button color="primary" *ngIf="data.status==5" > Download </button>
                        </mat-card-actions>   
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event" class="d-flex justify-content-center"></pagination-controls>

</div>
