/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.login-body{
    width: 100vw;
    height: 100vh;
}
.request-page{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.myRequests{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.pagenotfoundtitle{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


