<app-navigation-bar></app-navigation-bar>

<div class="myRequests" >
  <div *ngIf="isDataLoaded==false">
      <mat-spinner></mat-spinner>
  </div>
  <div class="requestCards">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let data of requests | paginate: { itemsPerPage: 4, currentPage: page }">
            <div class="requestCard">
                
                <mat-card>
                    <mat-card-title style="height: 50px;">
                        <h2> {{data.requestDetails.purpose}}</h2>
                    </mat-card-title>
                    <mat-card-subtitle style="height: 50px;">
                        <strong>{{data.requestDetails.description}}</strong>
                    </mat-card-subtitle>
                    <mat-card-content >
                        <strong>Details</strong><br>
                        RequestId
                        : {{data.requestDetails.id}}<br>
                        Requester
                        : {{data.firstName}}<br>
                        Estimated Cost
                        : {{data.requestDetails.estimatedCost | currency : 'INR'}}<br>
                        Advance Amount
                        : {{data.requestDetails.advanceAmount | currency : 'INR'}}<br>
                        Plan Date
                        : {{data.requestDetails.planDate | date:'dd-MM-yyyy'}}<br>
                        <div ngSwitch="{{data.requestDetails.status}}">
                            <div *ngSwitchCase ="1">Status : <b>Initiated</b></div>
                            <div *ngSwitchCase="2">Status : <b>Approved</b></div>
                            <div *ngSwitchCase="3">Status : <b>Rejected</b></div>
                            <div *ngSwitchCase="4">Status : <b>Forwarded</b></div>
                            <div *ngSwitchCase="5">Status : <b>Completed</b></div>
                            
                        </div>
                    </mat-card-content>
                    <mat-card-footer>
                        <mat-card-actions>
                            <button mat-raised-button class="btn btn-info" (click)="details(data.requestDetails.id)">Details</button>
                            <button mat-raised-button class="btn btn-info" *ngIf="data.requestDetails.status == 2">Download Bill</button> 
                        </mat-card-actions>   
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
</div>
    <pagination-controls (pageChange)="page = $event" class="paginator d-flex justify-content-center"></pagination-controls>
</div>

