/* .myRequests mat-card{
    margin-top: 5%;
    width: 250px;
    margin-left: 5%;
} */

.myRequests{
    border-width: 10px;
    padding-left: 50px;
    background-color: bisque;
    padding-top: 6%;
    padding-bottom: 4%;
}

.myRequests .myForm{
    padding-top: 3%;
}

.myRequests .card{
    padding-top: 6%;
    width: 275px;
    height: 350px;
    background-color: bisque;
    border-color: rgba(0,0,0,0);
    margin-bottom: 20%;
    font-style: italic;
    
    
}
.myRequests .card mat-card-subtitle{
    font-style: italic;
    color: crimson;
}

.myRequests mat-spinner{
    margin-top: 20%;
    margin-left: 40%;
}

.myRequests mat-card-actions{
    padding-left: 20px;
}