.login-body{
    
    background: url("src\assets\images\loginNewBg.jpg") 50% fixed;
    background-size: cover;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
   
    transform: translate(-50%, -50%);
  }

  .login-page mat-card{
    background-color: rgb(109, 169, 169);
      width: 350px;
      height: 470px;
      opacity: 01;
      color: black;
      font-weight: 500;
      font-size: 24;
  }